<div class="contenedor">
    <mat-form-field class="t">
        <input matInput [(ngModel)]="titulo" type="text" class="t" maxlength="21" placeholder="Título">
    </mat-form-field>
        
    <mat-form-field class="t">
        <mat-select placeholder="Ttipo de objetivo" [(ngModel)]="tipo" >
            <mat-option id="tipo" *ngFor="let tip of tipos" [value]="tip.valor">
                {{tip.muestraValor}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="t">
        <input matInput [(ngModel)]="descripcion" type="text" maxlength="21" placeholder="Descripción breve">
    </mat-form-field>

    <mat-form-field class="t">
        <input matInput [(ngModel)]="fecha" type="date" placeholder="Fecha límite">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="recogerNuevoObjetivo()" class="t">Añadir Objetivo</button>
</div>