<app-cabecera></app-cabecera>
<br/><br/><br/>
<section>

    <div class="container-fluid" id="con">
        <div class="row">
            <div class="col-2" id=""></div>
            <div class="col-lg-8" id="">
              <div id= "tarEntrar" class="card border-dark">
                <div class="card-header"> 
                    <h1><b>Sistema de objetivos</b></h1>
                    <h3>Usa estas funcionalidades para ayudarte en tu día a día.</h3>     
                </div>
              </div>  
            </div>
            <div class="col-md-2" id=""></div>
          </div>
        <div class="row">
            <div class="col-2" id=""></div>
            <div class="col-lg-8" id="">
                <div class="row">
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header"> 
                                <br/> <h1 class="titulo"><img src="/assets/img/libro.png"><br/><b>Académicos</b></h1>
                            </div>
                            <div class="card-body text-info"> 
                                <h3>Plantea tu forma de estudiar.</h3>
                            </div>
                        </div>    
                        </div>   
                    </div>
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header"> 
                                <br/> <h1 class="titulo"><img src="/assets/img/persona.png"><br/><b>Personales</b></h1>
                            </div>
                            <div class="card-body text-info"> 
                                <h3>Crece mediante recompensas.</h3>
                            </div>     
                        </div>    
                        </div>   
                    </div>
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header">
                                 <br/> <h1 class="titulo"><img src="/assets/img/mancuerna.png"><br/><b>Físicos</b></h1>
                            </div>
                            <div class="card-body text-info">  
                                <h3>Organiza tu rutina.</h3>
                            </div>
                        </div>    
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>
    </div>
</section>

