header{
    color: rgb(230, 230, 230);
    padding: 20px;
    margin-bottom: -20px;
    border-bottom: black solid;
    /*background: url("../../../assets/img/pizarra.jpg") no-repeat; background-size: 100%;*/
    background-color: rgb(36, 36, 36);
    box-shadow: 0px 15px 30px rgb(2, 2, 2);
}
#titulo{
    text-align: left;
    font-size: 250%;
    font-family:'Courier New', Courier, monospace;
    padding-left: 20px;
   
}
#usuario{   
    font-size: 150%;
}
img{
    width: 150px;
}