header{
    color: rgb(230, 230, 230);
    padding: 20px;
    margin-bottom: -20px;
    border-bottom: black solid;
    background: url("../../../assets/img/pizarra.jpg") no-repeat; background-size: 100%;
    box-shadow: 0px 15px 30px black;
}
#titulo{
    text-align: left;
    font-size: 250%;
   
}
#usuario{   
    font-size: 150%;
}