header{
    color: rgb(230, 230, 230);
    background: url("/assets/img/pizarra.jpg") no-repeat; background-size: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: black solid;
    background-color: unset;   
    box-shadow: 0px 10px 20px black;  
}
header > h1{
    font-size: 300%;
}
img{
    height: 125px;
}


