<header class="container-fluid">
    <!--<h1><b>MyBoard</b></h1> 
    <div style="text-align:center">
        <a routerLink="/portada">Portada</a> - 
        <a routerLink="/inicio">Inicio</a>
    
      </div>
      -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand"><h1><b>MyBoard</b></h1> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/portada"><b>Presentación</b></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/inicio"><b>Servicicos</b></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/inicio"><b>Contacto</b></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/inicio"><b>Iniciar sesion</b></a></li>
            </ul>            
          </div>
        </div>        
      </nav>
</header>


