.descripcion{
    font-size: 125%;
}
.cabecera{
    font-size: 125%;
    text-align: center;
}
.tarjeta{
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    color: rgb(235, 235, 235);
    background-color: rgb(51, 62, 78);
    box-shadow: 3px 3px 4px 3px black;
    border: 1px black solid;
}
.btn{
    width: 150px;
}
.btnAb{
    margin-left: 7%;
}