
<div id="auten">
  
  <aside #aside>
    <button (click) = 'handleAside ()' class="btn btn-light btnAb"><b>&#8678; </b>Salir</button>
    <h1><b>{{user.nombre}}</b></h1>
    <div id= "tar" class="card border-dark">
      <div class="card-header"><h1><u>Cambiar foto de perfil</u></h1></div>
      <div class="card-body text-info">  
          <div class="contenedor">
            <form [formGroup]="myForm" (ngSubmit)="submit()">
              <div class="form-group">
                  <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">  
              </div>
              <br/>
              <button class="btn btn-primary" id="botSubFot" [disabled]="myForm.invalid" type="submit">Cambiar</button>
          </form>
          </div>
      </div>
    </div>
    
    <br/>
    <div id= "tar" class="card border-dark">
      <div class="card-header"><h1><u>Cambiar contraseña</u></h1></div>
      <div class="card-body text-info">  
          <div class="contenedor">
              <mat-form-field class="t">
                  <input matInput [(ngModel)]="cambiarContrasenna1" type="password" placeholder="Nueva contraseña">
              </mat-form-field>
              <mat-form-field class="t">
                  <input  matInput [(ngModel)]="cambiarContrasenna2" type="password" placeholder="Repita la contraseña">
              </mat-form-field>
              <mat-form-field class="t">
                <input  matInput [(ngModel)]="contrasennaActual" type="password" placeholder="Contraseña actual">
            </mat-form-field>
              <input type="button" id="b1" class="btn btn-primary" value="Cambiar" (click)="comprobarContrasennas()">
          </div>
      </div>
    </div>   
    <br/>

    <div id= "tar" class="card border-dark">
      <div class="card-header"><h1><u>Cambiar correo</u></h1></div>
      <div class="card-body text-info">  
          <div class="contenedor">
              <mat-form-field class="t">
                  <input matInput [(ngModel)]="correo" type="email" placeholder="Nuevo correo">
              </mat-form-field>
              <mat-form-field class="t">
                <input  matInput [(ngModel)]="contrasennaActual" type="password" placeholder="Contraseña actual">
            </mat-form-field>
              <input type="button" id="b1" class="btn btn-primary" value="Cambiar" (click)="comprobarCorreo()">
          </div>
      </div>
    </div>
    <hr/>
    <input type="button" id="salir" class="btn btn-primary" value="Salir" (click)="salir()"><input type="button" id="salir" class="btn btn-danger" value="Eliminar Cuenta" (click)="idParaEliminar()">
  </aside>
  <app-cabecera-usuario [valor]="user"></app-cabecera-usuario>

  <div id="credenciales">
    <div *ngIf="foto != null; else nohay">
      <button (click) = 'handleAside ()' class="btn btn-light btnAb">
        <img id="fotUsr" src="{{urlFotos}}{{foto}}"> {{user.nombre}}
      </button>
    </div>
    <ng-template #nohay>
      <button (click) = 'handleAside ()' class="btn btn-light btnAb">
        <img id="fotUsr" src="{{urlFotos}}usuario.png"> {{user.nombre}}
      </button>
    </ng-template>
    
  </div>
  <section>
    <app-objetivos [valor]="user"></app-objetivos>
  </section>

</div>

