
.mat-tab-label{
    font-size: 10px !important;
 } 
 .t {
    margin-top: 20px;
    margin-right: 8px;
  }

 ::ng-deep .mat-tab-label .mat-tab-label-content {
     padding-top: 0px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

#con{ 
    height: 100%;
    min-height: 91vh; 
    /*background-image: linear-gradient(0deg, #ffffce 0, #f2ffcf 10%, #e2ffcf 20%, #d3ffce 30%, #c3ffcc 40%, #b5f2c9 50%, #a8e5c5 60%, #9edac1 70%, #96d0bd 80%, #8fc7ba 90%, #8ac0b7 100%) ;*/
}
#auten {
    background: url("/assets/img/fondoUsuarios.jpg") no-repeat; /*Foto de: "https://pixabay.com/es/photos/vasos-computadora-port%c3%a1til-tel%c3%a9fono-2947708/*/   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
}
