
.mat-tab-label{
    font-size: 10px !important;
 } 
 .t {
    margin-top: 20px;
    margin-right: 8px;
  }

 ::ng-deep .mat-tab-label .mat-tab-label-content {
     padding-top: 0px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

#auten {
    background: url("/assets/img/fondoUsuarios.jpg") no-repeat; /*Foto de: "https://pixabay.com/es/photos/vasos-computadora-port%c3%a1til-tel%c3%a9fono-2947708/*/   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
}

aside{
    position: absolute;
    width: 480px;
    min-height: 92vh;
    background-color: rgb(207, 207, 207);
    margin-top: 8vh;
    border: 3px black solid;
    right:0;
    transform: translate(100%,0);
    transition: all 2s;
    display: none;
    z-index: 3;
    border-radius: 20px 0px 0px 20px;
}

#credenciales{
    margin-top: -65px;
    text-align: right;
    margin-right: 20px;
}
h1{
    text-align: center;
}

#salir{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    width: 40%;
    
}
#volver{
    border-radius: 20px 0px 0px 0px;
}
#tar{
    margin-left: 5%;
    margin-right: 5%;
}

.file-input {
    display: none;
}
#fotUsr{
    height: 40px;
    border-radius: 15%;
    margin-right: 5px;
}
#ajustes{
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    aside{
        width: 400px;
    }
  }