.tarjs{
    max-width: 98%;
}
h1{
    text-align: center;
    padding: 40px;
    font-size: 250%;
}
.i{
    height: 200px;
    font-size: xx-large;
    font: 200%;
}
#obs{
    margin-top:1%;
    max-height: 890px;
}