<main class="container-fluid" id ="a">
    <div class="row"> 
        <div class="col-md-4">
            <h1><u>Añadir Objetivo:</u></h1>        
            <app-formulario (outputObjetivos)="selectObjetivos()" [nombre]="valor" ></app-formulario>
        </div>

        <div class="col-8">
            <h1><u>Objetivos actuales:</u></h1>  
            <mat-tab-group mat-align-tabs="center" class="t">

                <mat-tab label="Todos">
                    <div class="planificar">
                      <div class="row" *ngIf="objetivos.length != 0; else nohay"> 
                          <div class="col-xl-6" id="ob" *ngFor="let objetivo of objetivos">
                              <app-objetivo (outputObjetivos)="obtenerObjetivos($event)" [valor]="objetivo" [nombre]="valor"></app-objetivo> 
                              <br/>
                          </div>
                      </div> 
                      <ng-template #nohay><h1>No tienes objetivos</h1></ng-template>
                    </div>
                  </mat-tab>

                <mat-tab label="Académicos">
                  <div class="planificar">
                    <div class="row" *ngIf="objetivosAcademicos.length != 0; else nohayAca"> 
                        <div class="col-xl-6" id="ob" *ngFor="let objetivo of objetivosAcademicos">
                            <app-objetivo (outputObjetivos)="obtenerObjetivosAcademicos($event)" [valor]="objetivo" [nombre]="valor"></app-objetivo> 
                            <br/>
                        </div>
                    </div> 
                    <ng-template #nohayAca><h1>No tienes objetivos Académicos</h1></ng-template>
                  </div>
                </mat-tab>
                
                <mat-tab label="Personales">
                    <div class="datos">
                      <div class="row" *ngIf="objetivosPersonales.length != 0; else nohayPer"> 
                          <div class="col-xl-6" id="ob" *ngFor="let objetivo of objetivosPersonales">
                              <app-objetivo  (outputObjetivos)="obtenerObjetivos($event)" [valor]="objetivo" [nombre]="valor"></app-objetivo> 
                              <br/>
                          </div>
                      </div> 
                      <ng-template #nohayPer><h1>No tienes objetivos Personales</h1></ng-template>
                    </div>
                  </mat-tab>
      
                  <mat-tab label="Físicos">
                      <div class="datos">
                          <div class="row" *ngIf="objetivosFisicos.length != 0; else nohayFis"> 
                              <div class="col-xl-6" id="ob" *ngFor="let objetivo of objetivosFisicos">
                                  <app-objetivo  (outputObjetivos)="obtenerObjetivos($event)" [valor]="objetivo" [nombre]="valor"></app-objetivo> 
                                  <br/>
                              </div>
                          </div> 
                          <ng-template #nohayFis><h1>No tienes objetivos Físicos</h1></ng-template>
                      </div>
                    </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
</main>
