#funcionalidades{
    padding-top: 8%;
    padding-bottom: 8%;
    font-size:xx-large;
    text-align: center;
    border-right: black solid;
}

#inicioSesion{
    padding-top: 150px;
    text-align: center;
}
section{
    background: url("/assets/img/escritorio.jpg") no-repeat; /*Foto de: "https://pixabay.com/es/photos/escritorio-de-oficina-minimalista-6180921/" */   
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
}

@media screen and (max-width: 768px) {
    #funcionalidades{
        border-bottom: black solid;
        border-right: none;
    }
}
