#funcionalidades{
    padding-top: 8%;
    padding-bottom: 8%;
    font-size:xx-large;
    text-align: center;
    border-right: black solid;
}

#inicioSesion{
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}
#con{
    min-height: 89vh; 
    background-image: linear-gradient(0deg, #ffffce 0, #f2ffcf 10%, #e2ffcf 20%, #d3ffce 30%, #c3ffcc 40%, #b5f2c9 50%, #a8e5c5 60%, #9edac1 70%, #96d0bd 80%, #8fc7ba 90%, #8ac0b7 100%) ;
}

@media screen and (max-width: 768px) {
    #funcionalidades{
        border-bottom: black solid;
        border-right: none;
    }
}
