<app-cabecera></app-cabecera>
<br/>
<section>
  
    <div class="container-fluid" id="con">
      <div class="row">
        <div class="col-2" id=""></div>
        <div class="col-lg-8" id="">
          <div id= "tarEntrar" class="card border-dark">
            <div class="card-header"> 
              <h1 class="titulo">
                <h1 id="titulo"><b>MyBoard</b></h1>
                <p ><a id="links" routerLink="/inicioSesion"><b>Iniciar sesion</b></a> | 
                <a id="links" routerLink="/registro"><b>Registrarse</b></a><br></p></h1>
            </div>
          </div>  
        </div>
        <div class="col-md-2" id=""></div>
      </div>
        <div class="row">
            <div class="col-2" id=""></div>
            <div class="col-lg-8" id="">
                <div class="row">
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header"> 
                              <br/><h1 class="titulo"><img id="iOb" src="/assets/img/bandera.png"><br/><strong>Marca <br/></strong>tus metas</h1><br/>
                            </div>
                        </div>    
                        </div>   
                    </div>
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header"> 
                             <br/> <h1 class="titulo"><img id="iOb" src="/assets/img/objetivos.png"><br/><strong>Maneja <br/></strong>tus objetivos</h1><br/>
                            </div>    
                        </div>    
                        </div>   
                    </div>
                    <div class="col-md-4" id="">
                        <div class="Servicio">
                        <div id= "tar" class="card border-dark">
                            <div class="card-header">
                              <br/><h1 class="titulo"><img src="/assets/img/mejora.png"><br/><strong>Mejora <br/></strong>tu vida</h1><br/>
                            </div>
                        </div>    
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>
        
    </div>
</section>
<!--
<article>
  <br/>
    <div class="container-fluid" id="con">
      <div class="row">
        <div class="col-lg-6">
          <div id= "tar" class="card border-dark">
          <div class="card-body">
            <p><b><strong>Marca <br/></strong>tus metas.<br/></b></p>
          </div>
          </div>    
          <div id= "tar" class="card border-dark">
            <div class="card-body">
              <p><b><strong>Maneja <br/></strong>tus objetivos.<br/></b></p>
            </div>
          </div> 
          <div id= "tar" class="card border-dark">
            <div class="card-body">
                <p><b><strong>Mejora <br/></strong>tu vida.<br></b></p>
            </div>
          </div>    
          <br/>
          <div id= "tar" class="card border-dark">
            <div id="acceder" class="card-body">
                <p><b><a routerLink="/inicioSesion"><b>Iniciar sesion</b></a> | 
                  <a routerLink="/registro"><b>Registrarse</b></a><br></b></p>
            </div>
          </div>    
        </div> 
      </div>
      
    </div>
    
</article>
-->
