
article{
    font-size: 300%;
    line-height: 2;
    padding-left: 85px;
}
strong{
    font-size: 200%;
}
.titulo{
    padding-left: -40%;
    font-size: 225%;
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}