<div id= "tar" class="card border-dark">
    <div class="card-header"> <br/><h1 class="titu"><b><u>Funciones:</u></b></h1><br/> </div>
    <div class="card-body">
        <br/>
        <p><b><span class="material-icons">access_time</span></b></p><br/>
        <p><b>Planificar</b></p><br/><br/><br/>
        <p><b><span class="material-icons">fact_check</span> </b></p><br/>
        <p><b>Objetivos</b></p><br/><br/>
        <!--<p><b><span class="material-icons">fitness_center</span> Gimnasio</b></p>-->

    </div>
</div>

<!--
<h1 class="titu"><b><u>Funcionalidades:</u></b></h1>
<br/><br/>

<p><b><span class="material-icons">access_time</span> Planificar</b></p><br/><br/>
<p><b><span class="material-icons">fact_check</span> Objetivos</b></p><br/><br/>
<p><b><span class="material-icons">fitness_center</span> Gimnasio</b></p>
-->